<div class="card">
  <div class="card-header">
    <h5>Create new booking</h5>
  </div>
  <form [formGroup]="bookingForm" (ngSubmit)="save()">
    <div class="card-body">

      <div class="row mb-2">
        <div class="col">
          <label class="form-label">ID</label>
          <input type="number" formControlName="id" class="form-control" />
        </div>
        <div class="col">
          <label class="form-label">Room Number</label>
          <input type="number" formControlName="roomNumber" class="form-control" />
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-4">
          <label class="form-label">Name</label>
          <input type="text" formControlName="name" class="form-control" />
          <label *ngIf="bookingForm.get('name')?.hasError('minlength')" class="text-warning">Der
            Name ist zu kurz.</label>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <label class="form-label">Arrival date</label>
          <!-- unten: runden Klammern = EVENT -->
          <input formControlName="startDate" type="date"
            [value]="booking.startDate | date:'yyyy-MM-dd'" (input)="dateChanged($event, true)"
            class="form-control" />
        </div>
        <div class="col">
          <label class="form-label">Departure date</label>
          <input formControlName="endDate" type="date" [value]="booking.endDate | date:'yyyy-MM-dd'"
            (input)="dateChanged($event, false)" class="form-control" />
        </div>
      </div>

    </div>
    <div class="card-footer">
      <button [disabled]="bookingForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>